<section class="mbr-info mbr-section mbr-section-md-padding" id="msg-box2-g" style="background-color: rgb(46, 46, 46); padding-top: 90px; padding-bottom: 90px;">

    
    <div class="container">
        <div class="row">

            <div class="mbr-table-md-up">
              <div class="mbr-table-cell col-md-4">
                  <div class="text-xs-center"><a class="btn btn-primary" href="download">DOWNLOAD</a></div>
              </div>
              <div class="mbr-table-cell mbr-right-padding-md-up col-md-8 text-xs-center text-md-left">
                  <h3 class="mbr-info-title mbr-section-title display-2">The CLAM Software</h3>
                  <h2 class="mbr-info-subtitle mbr-section-subtitle">Download the CLAM client and start sending and receiving CLAM.</h2>
              </div>
            </div>

            

        </div>
    </div>
</section>

<footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-8" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">
    
    <div class="container">
        <p class="text-xs-center"><a href="{{ site.url }}/legal/privacy-policy">Privacy Policy</a> | <a href="{{ site.url }}/legal/cookie-policy">Cookie Policy</a> | <a href="{{ site.url }}/legal/terms-of-use">Terms of Use</a></p>
    </div>
</footer>


  <script src="{{ site.url }}/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="{{ site.url }}/assets/tether/tether.min.js"></script>
  <script src="{{ site.url }}/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ site.url }}/assets/smooth-scroll/SmoothScroll.js"></script>
  <script src="{{ site.url }}/assets/viewportChecker/jquery.viewportchecker.js"></script>
  <script src="{{ site.url }}/assets/dropdown/js/script.min.js"></script>
  <script src="{{ site.url }}/assets/touchSwipe/jquery.touchSwipe.min.js"></script>
  <script src="{{ site.url }}/assets/jarallax/jarallax.js"></script>
  <script src="{{ site.url }}/assets/theme/js/script.js"></script>
  
  
  <input name="animation" type="hidden">
  </body>
</html>