<section class="mbr-section article mbr-parallax-background" id="msg-box8-10" style="background-image: url({{ site.url }}/assets/images/{{ page.midimage }}); padding-top: 120px; padding-bottom: 120px;">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(34, 34, 34);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">{{ page.midtitle }}</h3>
                <div class="lead"><p>{{ page.midsubtitle }}</p></div>
                
            </div>
        </div>
    </div>

</section>