{% include header.html %}

<section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-after-navbar" id="header2-5" style="background-image: url(assets/images/liberty-2000x833-8.jpg);">

    

    <div class="mbr-table mbr-table-full">
        <div class="mbr-table-cell">

            <div class="container">
                <div class="mbr-section row">
                    <div class="mbr-table-md-up">
                        
                        
                        

                        <div class="mbr-table-cell mbr-right-padding-md-up col-md-5 text-xs-center text-md-right">

                            <h3 class="mbr-section-title display-2">Meet the <br>CLAM Network</h3>

                            <div class="mbr-section-text lead">
                                <p><strong><em>Open source.<br>Peer-to-peer.<br>Decentralized.<br>Democratized.<br>Payments.</em></strong></p>
                            </div>

                            <div class="mbr-section-btn"><a class="btn btn-primary" href="download">DOWNLOAD</a></div>

                        </div>
                        <div class="mbr-table-cell mbr-valign-top col-md-7">
                            <div class="mbr-figure"><a href="start/getting-started"><img src="assets/images/clamlogo-1400x1400-24.png"></a></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="mbr-arrow mbr-arrow-floating hidden-sm-down" aria-hidden="true"><a href="#features7-6"><i class="mbr-arrow-icon"></i></a></div>

</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features7-6" style="background-color: rgb(239, 239, 239);">

    

    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img iconbox"><span class="etl-icon icon-beaker mbr-iconfont mbr-iconfont-features7" style="color: rgb(255, 255, 255);"></span></div>
                    <div class="card-block">
                        <h4 class="card-title">Open Source</h4>
                        
                        <p class="card-text">The CLAM project is an open source software project. <br>Anyone can review the code and contribute to the project.</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img iconbox"><span class="mbri-users mbr-iconfont mbr-iconfont-features7" style="color: rgb(255, 255, 255);"></span></div>
                    <div class="card-block">
                        <h4 class="card-title">Peer-to-Peer</h4>
                        
                        <p class="card-text">The CLAM project is a peer-to-peer network. <br>Our users own and operate the code and software.</p>
                        
                    </div>
                </div>
          </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img iconbox"><span class="etl-icon icon-global mbr-iconfont mbr-iconfont-features7" style="color: rgb(255, 255, 255);"></span></div>
                    <div class="card-block">
                        <h4 class="card-title">Decentralized</h4>
                        
                        <p class="card-text">The CLAM project is decentralized.<br>Power rests in the hands of our users.</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img iconbox"><span class="etl-icon icon-piechart mbr-iconfont mbr-iconfont-features7" style="color: rgb(255, 255, 255);"></span></div>
                    <div class="card-block">
                        <h4 class="card-title">Democratized</h4>
                        
                        <p class="card-text">The CLAM project is democratized.<br>Users can influence the future of CLAMs.</p>
                        
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</section>

<section class="mbr-info mbr-section mbr-section-md-padding" id="msg-box2-9" style="background-color: rgb(46, 46, 46); padding-top: 90px; padding-bottom: 90px;">

    
    <div class="container">
        <div class="row">

            <div class="mbr-table-md-up">
              <div class="mbr-table-cell col-md-4">
                  <div class="text-xs-center"><a class="btn btn-primary" href="download">DOWNLOAD</a></div>
              </div>
              <div class="mbr-table-cell mbr-right-padding-md-up col-md-8 text-xs-center text-md-left">
                  <h3 class="mbr-info-title mbr-section-title display-2">The CLAM Software</h3>
                  <h2 class="mbr-info-subtitle mbr-section-subtitle">Download the CLAM client and start sending and receiving CLAM.</h2>
              </div>
            </div>

            

        </div>
    </div>
</section>

<section class="mbr-section article mbr-parallax-background" id="msg-box8-c" style="background-image: url(assets/images/header-2000x1125-64.jpg); padding-top: 120px; padding-bottom: 120px;">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(34, 34, 34);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">START</h3>
                <div class="lead"><p><strong>Take your first steps to understand and join the CLAM community.</strong></p></div>
                
            </div>
        </div>
    </div>

</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-a" style="background-color: rgb(255, 255, 255);">

    

    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
              <div class="card cart-block">
                  <div class="card-img"><a href="start/what-are-clams"><img src="assets/images/college2-600x600-30.jpg" class="card-img-top"></a></div>
                  <div class="card-block">
                    <h4 class="card-title">What are CLAMs?</h4>
                    <h5 class="card-subtitle">A short introduction.</h5>
                    
                    <div class="card-btn"><a href="start/what-are-clams" class="btn btn-primary">MORE</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><a href="start/getting-started"><img src="assets/images/bridgge-600x600-23.jpg" class="card-img-top"></a></div>
                    <div class="card-block">
                        <h4 class="card-title">Getting Started</h4>
                        <h5 class="card-subtitle">Take your first steps.</h5>
                        
                        <div class="card-btn"><a href="start/getting-started" class="btn btn-primary">MORE</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><a href="start/getting-clams"><img src="assets/images/market-600x600-92.jpg" class="card-img-top"></a></div>
                    <div class="card-block">
                        <h4 class="card-title">Getting CLAMs</h4>
                        <h5 class="card-subtitle">Getting your first CLAMs.</h5>
                        
                        <div class="card-btn"><a href="start/getting-clams" class="btn btn-primary">MORE</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><a href="start/using-clams"><img src="assets/images/baazar-600x600-62.jpg" class="card-img-top"></a></div>
                    <div class="card-block">
                        <h4 class="card-title">Using CLAMs</h4>
                        <h5 class="card-subtitle">Sending your first CLAMs.</h5>
                        
                        <div class="card-btn"><a href="start/using-clams" class="btn btn-primary">MORE</a></div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</section>

<section class="mbr-section article mbr-parallax-background" id="msg-box8-f" style="background-image: url(assets/images/rays-2000x833-84.jpg); padding-top: 120px; padding-bottom: 120px;">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(34, 34, 34);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">LEARN</h3>
                <div class="lead"><p><strong>Explore the CLAM network and what it offers.</strong></p></div>
                
            </div>
        </div>
    </div>

</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-b" style="background-color: rgb(255, 255, 255);">

    

    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
              <div class="card cart-block">
                  <div class="card-img"><a href="learn/constitution"><img src="assets/images/liberty1536-600x600-74.png" class="card-img-top"></a></div>
                  <div class="card-block">
                    <h4 class="card-title">Constitution</h4>
                    <h5 class="card-subtitle">Our rights in the CLAM network.</h5>
                    
                    <div class="card-btn"><a href="learn/constitution" class="btn btn-primary">MORE</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><a href="learn/manifesto"><img src="assets/images/tank2-600x600-61.jpg" class="card-img-top"></a></div>
                    <div class="card-block">
                        <h4 class="card-title">Manifesto</h4>
                        <h5 class="card-subtitle">A revolution in payments.</h5>
                        
                        <div class="card-btn"><a href="learn/manifesto" class="btn btn-primary">MORE</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><a href="learn/distribution"><img src="assets/images/berlin-alexanderplatz-construction-cranes1536-600x600-67.png" class="card-img-top"></a></div>
                    <div class="card-block">
                        <h4 class="card-title">Distribution</h4>
                        <h5 class="card-subtitle">Fair from the first block.</h5>
                        
                        <div class="card-btn"><a href="learn/distribution" class="btn btn-primary">MORE</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><a href="learn/creation"><img src="assets/images/corl0176-600x600-37.png" class="card-img-top"></a></div>
                    <div class="card-block">
                        <h4 class="card-title">Creation</h4>
                        <h5 class="card-subtitle">New CLAMs are created by users.</h5>
                        
                        <div class="card-btn"><a href="learn/creation" class="btn btn-primary">MORE</a></div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</section>

<section class="mbr-section article mbr-parallax-background" id="msg-box8-e" style="background-image: url(assets/images/easterisland-2000x833-83.jpg); padding-top: 120px; padding-bottom: 120px;">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(34, 34, 34);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">COMMUNITY</h3>
                <div class="lead"><p><strong>Connect with other CLAM users and get involed.</strong></p></div>
                
            </div>
        </div>
    </div>

</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-d" style="background-color: rgb(255, 255, 255);">

    

    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
              <div class="card cart-block">
                  <div class="card-img"><a href="community/development"><img src="assets/images/fork2-1-600x600-51.jpg" class="card-img-top"></a></div>
                  <div class="card-block">
                    <h4 class="card-title">Development</h4>
                    <h5 class="card-subtitle">Ideas for the future of CLAM.</h5>
                    
                    <div class="card-btn"><a href="community/development" class="btn btn-primary">MORE</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><a href="community/clamspeech"><img src="assets/images/openclamhd-600x600-50.jpg" class="card-img-top"></a></div>
                    <div class="card-block">
                        <h4 class="card-title">CLAMspeech</h4>
                        <h5 class="card-subtitle">Making your mark on the network.</h5>
                        
                        <div class="card-btn"><a href="community/clamspeech" class="btn btn-primary">MORE</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><a href="community/services"><img src="assets/images/container-ship-600x600-30.jpg" class="card-img-top"></a></div>
                    <div class="card-block">
                        <h4 class="card-title">Services</h4>
                        <h5 class="card-subtitle">Services utilizing CLAM.</h5>
                        
                        <div class="card-btn"><a href="community/services" class="btn btn-primary">MORE</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><a href="community/support"><img src="assets/images/library-600x600-39.jpg" class="card-img-top"></a></div>
                    <div class="card-block">
                        <h4 class="card-title">Support</h4>
                        <h5 class="card-subtitle">Let's solve problems together.</h5>
                        
                        <div class="card-btn"><a href="community/support" class="btn btn-primary">MORE</a></div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</section>

{% include footer.html %}